<!-- Navbar moderno y mejorado -->
<nav class="navbar navbar-expand-lg navbar-light navbar-modern fixed-top">
    <div class="container-custom">
        <a class="navbar-brand fw-bold fs-4" href="{% url 'explorer:home' %}">
            <i class="bi bi-geo-alt-fill text-primary"></i>
            ViveMedellín
        </a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'explorer:home' %}">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'explorer:lugares_list' %}">Lugares</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Comunas
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for comuna in comunas %}
          <li><a class="dropdown-item" href="{% url 'explorer:lugares_por_comuna' slug=comuna.slug %}">{{ comuna.name }}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'explorer:mapa_explorar_medellin' %}">Mapa</a>
    </li>
     <li class="nav-item">
        <a class="nav-link" href="{% url 'explorer:acerca' %}">Acerca de</a>
      </li>
    {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'explorer:perfil_usuario' %}">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'explorer:mis_favoritos' %}">Favoritos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'usuarios:logout' %}">Logout</a>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'usuarios:login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'usuarios:registro' %}">Registro</a>
      </li>
    {% endif %}
  </ul>
</div>
</nav>