# Archivos de entorno de Python
/med/
/staticfiles/
__pycache__/
*.pyc

# Configuraciones locales
settings_dev.py
*.sqlite3

# Archivos de datos y media (si no se quieren en el repo)
coordenadas_guardadas.json
medellin_grid_500m.geojson

# Archivos de sistema operativo
.DS_Store
Thumbs.db 